project/src/data/SA2/SA2_2016_AUST.shp filter=lfs diff=lfs merge=lfs -text
project/src/data/landuse/CLUM_Commodities_2018_v2.shp filter=lfs diff=lfs merge=lfs -text
.shp filter=lfs diff=lfs merge=lfs -text
*.shp filter=lfs diff=lfs merge=lfs -text
